<div id="group-table" class="row py-5">
  <div class="col group-table">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Costs sum</th>
            <th scope="col">Debt</th>
          </tr>
        </thead>

        <%= turbo_stream_from group %>

        <tbody id="rows">
          <% group.users.each_with_index do |user, i| %>
            <%= render partial: '/shared/groups/group_user_row', locals: { cur_user: , user: , group: group, index: i } %>
          <% end %>
        </tbody>

        <tfoot>
          <%= render partial: '/shared/groups/group_cost_row', locals: { group: group } %>
        </tfoot>
      </table>
  </div>
</div>