<% if @group.group_debts_pay_plan %>
  <div class="container">
    <% if @group.group_debts_pay_plan.debt_steps.any? %>
      <div class="row">
        Steps:
      </div>
    <% end %>

    <% @group.group_debts_pay_plan.debt_steps.each do |debt_step| %>
      <div class="row-sm-1">
        <%= render partial: 'debt_step', locals: { debt_step: } %>
      </div>
    <% end %>
  </div>
<% end %>