<div class="container">
  <div class="row">
    <div class="col">
      User
    </div>
    <div class="col">
      User Cost
    </div>
    <div class="col">
      Debt
    </div>
  </div>

  <% group_cost = @group.cost %>
  <% @group.users.each do |user| %>
    <div class="row">
      <div class="col">
        <%= user.name %>
      </div>
      <div class="col">
        <% group_user_cost = user.group_user_cost(@group) %>
        <%= group_user_cost&.cost_value %>
      </div>
      <div class="col">
        <%= group_user_cost.cost_value - group_cost.cost_value %>
      </div>
    </div>
  <% end %>
  <br/>

  <div class="row">
    Group Cost: <%= group_cost.cost_value %>
  </div>
</div>