<div class="container">
  <div class="row">
    <%= form_with url: user_group_cost_path(current_user, @group, @cost), model: @cost do |form| %>
      <%= form.number_field :cost_value %>

      <%= form.submit %>
    <% end %>
  </div>
</div>