.carousel-inner {
  color: #972fff;
}

.carousel-control-prev {
  span {
    color: #972fff;
    font-weight: bold;
  }
}

.carousel-control-next {
  span {
    color: #972fff;
    font-weight: bold;
  }
}

.sections-nav {
  background-color: #070708;
}

.col, .group-table {
  padding: 0;
}