// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table.table.table-dark.table-striped {
  --bs-table-color: #972fff;
  --bs-table-striped-color: #972fff;
  --bs-table-bg: #070708;
  --bs-table-striped-bg: #27282a;
}
