.form-control.cost-value-controll {
  background-color: #070708;
  color: #972fff;
  border-color: #972fff;
}

input.form-control.cost-value-controll::placeholder {
  color: #972fff;
}

form {
  .btn {
    --bs-btn-hover-bg: #27282a;
    --bs-btn-bg: #27282a;
    --bs-btn-color: #972fff;
  }
}
